# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Coverage file
lcov.info

# Binaries
bin/*

# Flattened contracts
flattened/

# Generated contract ABIs
abis/

# Heimdall output directory
# See https://github.com/Jon-Becker/heimdall-rs
output/

TODO
