[submodule "lib/forge-std"]
	path = lib/forge-std
	url = https://github.com/foundry-rs/forge-std
	branch = v1
[submodule "lib/chronicle-std"]
	path = lib/chronicle-std
	url = https://github.com/chronicleprotocol/chronicle-std
	branch = v2
